@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Book Library</h2>
        <ul>
            <li> <a href="ComuterSciences">Computer Science</li>
            <li> <a href="Novels">Novels</a></li>
            <li> <a href="Sports">Sports</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>API</h2>
        <ul>
            <li> <a href="api/ComuterScienceAPI">Computer Science API</li>
            <li> <a href="api/NovelsAPI">Novels API</a></li>
            <li> <a href="api/SportsAPI">Sports API</a></li>
        </ul>
    </div>

</div>


